html {
  font-size: 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  color: white;
  background: #363534;
  padding: 1.25rem;
  border-radius: 1.875rem; 
  text-align: center;
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content img {
  width: 3.75rem; 
  margin-bottom: 0.625rem; 
  margin-top: 1rem;/
}

.hidden {
  display: none;
}

.modal-close {
  color: white;
  position: absolute;
  top: 0.625rem;   
  right: 0.625rem; 
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  margin-right: 1rem;
}

.modal-headline {
  font-size: 2rem;
}

.modal-subtitle {
  font-size: 1.3rem;
}

#basket-alert {
  color: red;
  margin-top: 0.625rem; 
  text-align: center;
}

.modul-basket-warning {
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 25px;
}
