body {
  margin: 0;
}

.content-header {
  height: 50px;
  background-color: #e76c1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  height: 35px;
  width: 45px;
  margin-right: 50px;
}

.header-img {
  height: 25px;
  width: 60px;
  margin-left: 50px;
}

.hero-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.basket {
  position: fixed;
  right: 0;
  width: 430px;
  height: 100vh;
  background-color: #363534;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 30px;
  margin-top: 5px;
}

.burger-icon {
  height: 200px;
  width: 200px;
  top: 180px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid #ffffff;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.hero-content {
  display: flex;
  justify-content: center;
}

.brand-content {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}

.brand-name {
  color: #e76c1f;
}

h1 {
  margin-bottom: 0;
}
.brand-description {
  margin: 0;
}

.headlines {
  height: 50px;
  color: white;
  background-color: #e76c1f;
  display: flex;
  padding-left: 300px;
  align-items: center;
  margin-top: 40px;
}
.headline-icon {
  height: 20px;
  width: 20px;
}

.meal-card {
  background-color: #fdeadc;
  height: 140px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px;
}

.meal-picture {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.content-area {
  margin-right: 430px;
}

.meal-card {
  background-color: #fdeadc;
  height: 140px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px;
}

.meal-picture {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.content-area {
  margin-right: 430px;
}
.meal-content {
  align-self: flex-start;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.meal-price {
  margin-left: auto;
  align-self: flex-start;
  font-weight: bold;
  font-weight: 700;
  font-size: 22px;
  margin-right: 10px;
}

.meal-headline {
  margin: 0;
  margin-top: 10px;
}

.meal-content p {
  margin: 4px 0 0;
}

.footer {
  height: 50px;
  color: white;
  background-color: #e76c1f;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}
