* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
 font-family: 'Palanquin', sans-serif;
}

.content-header {
  height: 3.125rem;
  background-color: #e76c1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  height: 2.1875rem;
  width: 2.8125rem;  
  margin-right: 3.125rem; 
}

.header-img {
  height: 1.5625rem;
  width: 3.75rem;   
  margin-left: 3.125rem; 
}

.hero-img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}

.burger-icon {
  height: 12.5rem; 
  width: 12.5rem;  
  top: 11.25rem;   
  position: absolute;
  border-radius: 50%;
  border: 0.375rem solid #ffffff; 
  box-shadow: 0 0.75rem 1.875rem rgba(0, 0, 0, 0.25); 
}

.hero-content {
  display: flex;
  justify-content: center;
}

.brand-content {
  display: flex;
  justify-content: center;
  padding-top: 1.875rem; 
  font-size: 1.25rem;    
  flex-direction: column;
  align-items: center;
  margin-top: 1.875rem;  
}

.brand-name {
  color: #e76c1f;
}

h1 {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0.625rem; 
}

.brand-description {
  margin: 0;
}

.headlines {
  height: 3.125rem;
  color: white;
  background-color: #e76c1f;
  display: flex;
  padding-left: 18.75rem; 
  align-items: center;
  margin-top: 2.5rem;    
}

.headline-icon {
  height: 1.25rem; 
  width: 1.25rem;  
}

.meal-card {
  background-color: #fdeadc;
  height: 8.75rem; 
  margin-top: 1.25rem;  
  margin-left: 3.125rem; 
  margin-right: 3.125rem;
  display: flex;
  align-items: center;
  padding-left: 0.625rem;
  border-radius: 0.625rem;
  width: 70rem;
}

.meal-picture {
  width: 12.5rem;  
  height: 7.5rem;  
  object-fit: cover;
  border-radius: 0.75rem; 
}

.content-area {
  margin-right: 26.875rem; 
}

.meal-content {
  align-self: flex-start;
  margin-top: 0.375rem;
  display: flex;
  flex-direction: column;
  margin-left: 1.875rem; 
}

.meal-price {
  margin-left: auto;
  align-self: flex-start;
  font-weight: 700;
  font-size: 1.375rem;
  margin-right: 0.625rem; 
  display: flex;
  justify-content: end;
}

.add-to-basket {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.125rem;  
  font-weight: 700;
  border-radius: 1.25rem; 
  height: 2.5rem;  
  cursor: pointer;
  border: 0;
  margin-top: 2.5rem;
}

.add-to-basket:hover {
  color: #e76c1f;
}

.meal-headline {
  margin: 0;
  margin-top: 0.625rem; 
}

.meal-content p {
  margin: 0.25rem 0 0; 
}

.footer {
  height: 3.125rem; 
  color: white;
  background-color: #e76c1f;
  display: flex;
  justify-content: center;
  gap: 3.125rem; 
  margin-top: 1.25rem; 
  align-items: center;
}

.bewertung-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-content {
  margin-left: auto;
  margin-right: 0.625rem;
}
